<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    link(rel="stylesheet", href="https://bootswatch.com/4/united/bootstrap.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
  body
    .container
      p.lead.text-center.mt-3 
        i.fas.fa-wallet.fa-fw
        |     Stablecoin Wallet
      .row
        .col-lg-4
        .col-lg-4
          h2.text-center.mt-3 Select Transaction Type
          form(action="/login", method="post")
            //- .form-group
            //-   label(for="") E-mail:
            //-   input.form-control(type="text", name="email" required)
            //- .form-group
            //-   label(for="") Password:
            //-   input.form-control(type="password", name="password" required)
            select.form-control(name="transaction_type")
              option(value="transfers") transfers
              option(value="account_info") account_info
            <br />
            .form-group
              button.btn.btn-block.btn-success(type="submit") Log In
          a.btn.btn-block.btn-primary(href="/signup") Sign Up
        .col-lg-4
    .footer.mt-5.mb-5
      .p.text-center &copy; Stablecoin Wallet 2019. All Rights Reserved.    
        