extends layout

block content 
    .container
      h2.mt-3.mb-3 Transaction History
      h5.text-right My Wallet: 
        strong P50000
      hr
      table.table.table-hover
        thead
          tr
            th Date and Time
            th Transaction ID
            th Transaction Type
            th Recepient
            th Amount Paid
            th Wallet Balance
        tbody
          tr
            td April 30, 2018 - 4:30pm
            td 01-2018-001
            td Withdraw
            td Me
            td P30000
            td P40000
          tr
            td August 7, 2018 - 4:30pm
            td 01-2018-002
            td Bills Payment
            td School Tuition
            td P32000
            td P45000
          tr
            td November 15, 2018 - 4:30pm
            td 01-2018-003
            td Fund Transfer
            td John Doe
            td P5000
            td P25000
          tr
            td April 30, 2018 - 4:30pm
            td 01-2018-001
            td Withdraw
            td Me
            td P30000
            td P40000
          tr
            td August 7, 2018 - 4:30pm
            td 01-2018-002
            td Bills Payment
            td School Tuition
            td P32000
            td P45000
          tr
            td November 15, 2018 - 4:30pm
            td 01-2018-003
            td Fund Transfer
            td John Doe
            td P5000
            td P25000
          tr
            td April 30, 2018 - 4:30pm
            td 01-2018-001
            td Withdraw
            td Me
            td P30000
            td P40000
          tr
            td August 7, 2018 - 4:30pm
            td 01-2018-002
            td Bills Payment
            td School Tuition
            td P32000
            td P45000
          tr
            td November 15, 2018 - 4:30pm
            td 01-2018-003
            td Fund Transfer
            td John Doe
            td P5000
            td P25000